/************************************************************

Author: Genevieve Masioni
Author URI : http://genevievemasioni.com
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Version: 1.0.0

**************************************************************

Table of Contents:

  0. GLOBAL
  1. HEADER
  2. MENU
  3. MAIN
  4. ARTICLES
  5. FOOTER

**************************************************************/


/************************************************
0.	GLOBAL
************************************************/

:root {
  --base-font-size: 16px;
  --base-font-family: 'Open sans', sans-serif;
  --base-padding: 1rem;
  --title-font-family: 'Montserrat', sans-serif;
  --accent-color: #1C7CE0;
  --brand-color: #150051;
  --highlight-color: #FBFF3D;
  --gradient: linear-gradient(to bottom, #1C7CE0, #150051);
}

html, body {
  font-size: var(--base-font-size);
}

body {
  font-family: var(--base-font-family);
  margin: 0;
}

* {
  transition: all .5s;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  color: var(--brand-color);
}

.highlight {
  position: absolute;
  background: var(--highlight-color);
  border-radius: 20%;
  z-index: -1;
  transition: .2s;
}

li:hover .sub-menu {
  display: inline;
}

.sub-menu {
  display: none;
  position: absolute;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px 0px;
  padding: var(--base-padding);
}

.menu .sub-menu li {
  display: block;
}

/************************************************
1.	HEADER
************************************************/

header {
  padding: var(--base-padding) 4rem;
}

/************************************************
2.	MENU
************************************************/

.menu {
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--title-font-family);
}

.menu li {
  display: inline;
  margin-right: var(--base-padding);
}

/************************************************
3.	MAIN
************************************************/

main {
  padding: var(--base-padding) 4rem;
}

/************************************************
4.  ARTCILES
************************************************/

.main_article {
  margin-bottom: 4rem;
}

.related_articles {
  display: flex;
  justify-content: space-between;
}

.related_article {
  height: 12rem;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  padding: var(--base-padding) 2rem;
  background: var(--gradient);
  flex: 1 1 4rem;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px 0px;
}

.related_article > * {
  width: 100%;
}

.related_article h5 {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.related_article:hover {
  transform: translateY(-1rem);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 24px 0px;
}

/************************************************
5.	FOOTER
************************************************/

footer {
  text-align: center;
  padding: var(--base-padding) 0;
}
