/************************************************************

Author: Genevieve Masioni
Author URI : http://genevievemasioni.com
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Version: 1.0
Tags: typeface

**************************************************************

Table of Contents:

  0. GLOBAL
  1. HEADER
  2. MENU

**************************************************************/


/************************************************
0.	GLOBAL
************************************************/

:root {
  --base-font-size: 16px;
  --base-font-family: 'Nunito', sans-serif;
  --base-padding: 1rem;
  --title-font-family: 'Fjalla One', sans-serif;
  --main-color: #ecba1b;
  --scd-color: #131220;
  --shadow-color: #f7f7f7;
  --ctn-shadow: #23347a;
  --third-color: #d83e3b;
}

html, body {
  font-size: var(--base-font-size);
}

body {
  font-family: var(--base-font-family);
  background: var(--main-color);
  color: var(--scd-color);
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: var(--third-color);
  width: 30rem;
  /* height: 40rem; */
  padding: var(--base-padding) 2rem;
  /* border: .2rem solid var(--scd-color); */
  box-shadow: -2rem 2rem 0 var(--ctn-shadow);
}

.mainText {
  font-family: var(--title-font-family);
  font-size: 4rem;
  font-weight: bold;
  text-shadow: .2rem .2rem 0 var(--shaow-color);
  /* text-transform: usppercase; */
}
